@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}

$font1 : Roboto, sans-serif;
$font2 : Allura, serif;

$white1: rgb(240,240,240);
$black1: rgb(10,10,10);
$color1: rgb(27, 25, 21);
$color2: rgb(172,214,164);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: $font1;
    color: $black1;
}

body {
    background: $color1;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: unset;
}