@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: Roboto, sans-serif;
  color: rgb(10, 10, 10);
}

body {
  background: rgb(27, 25, 21);
}

a {
  text-decoration: none;
}

a, a:visited {
  color: unset;
}

nav {
  top: 0;
  background: rgb(172, 214, 164);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  border-bottom: 1px solid rgb(27, 25, 21);
}
nav .tabs {
  width: 100%;
  height: 100%;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}
nav .tabs .tab1 {
  font-family: Allura, serif;
  font-weight: bold;
  font-size: 1.2rem;
  width: 20%;
  padding-right: 20px;
  border-right: 1px dashed rgb(27, 25, 21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .tabs .tab1 .pp1 {
  background: url(../img/pp2.jpg) center/cover;
  border-radius: 300px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
nav .tabs .tab {
  width: 12%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
}
nav .tabs .tab a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .tabs .tab:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(255, 255, 255, 0.39);
}
nav .tabs .tab2 {
  width: 12%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .tabs .tab2 .socials {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.2rem;
}
nav .tabs .tab2 .socials li {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 300px;
}
nav .tabs .tab2 .socials li a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .tabs .tab2 .socials li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(255, 255, 255, 0.39);
}

.pres {
  max-width: 95%;
  height: 40vh;
  margin: 100px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pres .pp {
  background: url(../img/pp2.jpg) center/cover;
  min-width: 338px;
  min-height: 320px;
  height: 90%;
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.pres .pp2 {
  background: url(../img/pp3.jpg) center/cover;
  min-width: 338px;
  min-height: 320px;
  height: 90%;
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.pres .pres-right {
  background: rgb(172, 214, 164);
  height: 90%;
  min-height: 320px;
  border-radius: 15px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pres .pres-right h1 {
  font-family: Allura, serif;
  font-size: 3rem;
}
.pres .pres-right p {
  font-size: 1.2rem;
}
.pres .pres-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
}
.pres .pres-right a {
  text-decoration-line: underline;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.portfolio h2 {
  font-family: Allura, serif;
  font-size: 3rem;
  color: rgb(172, 214, 164);
  text-shadow: 2px 3px 1px black;
  margin-bottom: 50px;
}
.portfolio .thumbnails-container {
  min-width: 90%;
  min-height: 70vh;
  padding: 10px;
  background: rgb(172, 214, 164);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.portfolio .thumbnails-container .thumbnail {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.portfolio .thumbnails-container .thumbnail h3 {
  height: 100%;
  width: 100%;
  color: rgb(240, 240, 240);
  text-shadow: 2px 3px 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio .thumbnails-container .thumbnail h3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.portfolio .thumbnails-container .thumbnail:nth-child(1) {
  background: url(../img/Le\ resto.JPG) center/cover;
  -webkit-backdrop-filter: blur();
          backdrop-filter: blur();
}
.portfolio .thumbnails-container .thumbnail:nth-child(2) {
  background: url(../img/gamingcampus.JPG) center/cover;
  -webkit-backdrop-filter: blur();
          backdrop-filter: blur();
}
.portfolio .thumbnails-container .thumbnail:nth-child(3) {
  background: url(../img/bubblegenerator.JPG) center/cover;
  -webkit-backdrop-filter: blur();
          backdrop-filter: blur();
}
.portfolio .thumbnails-container .thumbnail:nth-child(4) {
  background: url(../img/La\ montagne.JPG) center/cover;
  -webkit-backdrop-filter: blur();
          backdrop-filter: blur();
}
.portfolio .thumbnails-container .thumbnail:nth-child(5) {
  background: url(../img/Run.JPG) center/cover;
  -webkit-backdrop-filter: blur();
          backdrop-filter: blur();
}
.portfolio .thumbnails-container .thumbnail:nth-child(6) {
  background: url(../img/Bit.JPG) center/cover;
  -webkit-backdrop-filter: blur();
          backdrop-filter: blur();
}
.portfolio .thumbnails-container .thumbnail::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: inherit;
  border-radius: 10px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}/*# sourceMappingURL=index.css.map */